
body {
    background-image: url("/assets/weather-background.png");
    background-color: lightblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: white;
    text-decoration: underline;
}

.search-column {
    background-color: transparent;
}

.list-group-item {
    line-height: 0.5;
    border: none;
}

.card-body {
    flex: auto;
}

span.sever {
    padding: 3px;
    background-color: red;
}

span.moderate {
    padding: 3px;
    background-color: yellow;
}

span.favorable {
    padding: 3px;
    background-color: lightgreen;
}

.container-fluid {
    display: flex;
    width: 80%;
}

.col-12 {
    padding-right: 10%;
}

div {
    background-color: transparent;
    border: none;
}

#searched-city {
    text-align: center;
}

#five-day-fcst {
    text-align: center;
}

.list-group-item {
    background-color: transparent;
    text-align: center;
}